@CHARSET "US-ASCII";

div {
	
}

.header {
	background-color: #42a7e3;
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url(#{resource['images/clone.png']});
}

.headerTitle {
	width:200px;
	font-size: 24px;
	color: #fff;
	padding-left: 20px;
	float: left;
	
}

.loginForm {
	text-align: right;
}

.loginForm input {
	margin-right: 10px;
}

.loggedInfo {
	text-align: right;
	
}

.loggedInfo input {
	margin-right: 10px;
	margin-left: 10px;
}

.register {
	background-color: #d4d4d4;
}

.register h1 {
	font-size: 24px;
}

.register h2 {
	font-size: 18px;
}

.registerTitle {
	float: left;
	width: 500px;
}

.registerForm input {
	margin-bottom: 5px;
}

.submitLink {
	background-color: #cab798;
}

.submitButton {
	float: left;
}

.submitLink h1 {
	font-size: 18px;
}

.submitLink h2 {
	font-size: 18px;
}

.submitLinkTitle {
	float: left;
	width: 500px;
}

.submitLinkForm input {
	margin-bottom: 5px;
	size: 100px;
}

.link {
	background-color: #dddfa0;
	margin-bottom: 40px;
	border-color: #fff268;
	border: 10px;
}

.voteLink {
	float: left;
	margin-bottom: 50px;
}

.showLink {
	
}

.footer {
	background-color:#42a7e3;
	
}

.showComments{
	background-color:#dddfa0;

}
.voteComment {
	float: left;
	
}

.showComment {
	margin-bottom: 40px;
}

.addComment {
	background-color:#dddfa0;
	margin-bottom: 40px;
}
.imageButtonUp
{
	cursor: pointer;
    width: 20px;
    height: 20px;
    border: 0px;
    background-color: transparent;
    background-image:url(#{resource['images/up.png']});
}
.imageButtonDown
{
	cursor: pointer;
    width: 20px;
    height: 20px;
    border: 0px;
    background-color: transparent;
    background-image:url(#{resource['images/down.png']});
}
.counterNumber
{
	padding-right: 20px;
	
}

